*{

    margin: 0;
    padding: 0;
    font-family:'poppins', 'sans-serif';
    box-sizing:border-box;

}
html{

    scroll-behavior: smooth;

}

body{

    background:#080808;
    color: #fff;

}

h1.text_des{

    color: #c9d0d4; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 46px; 
    font-weight: 100; 
    line-height: 50px; 
    letter-spacing: 1px; 
    padding: 0 0 40px; 
    border-bottom: #555;

}

h2.text_des{

    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 100; 
    line-height: 50px; 

}

#header{
    

    width: 100%;
    height: 100vh;
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    padding-top: 10px;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{

    width: 100px;
}
.about{

    width: 350px;
}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative
}

nav ul li a::after{

    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{

    width: 100%;
    border-radius: 100px;
}

.header-text{

    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{

    font-size: 40px;
    margin-top: 20px;
}
p{

    font-family: monospace;
    font-size: 20px;

}
p.myself{

    font-size: 16px;
}


/* ................................... ABOUT ME ................................ */



#about{

    padding: 80px 0;
}

.row{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_col_1{

    flex-basis: 35%;

}
.about_col_1 img{

    width: 100%;
    border-radius: 15px;

}
.about_col_2{

    flex-basis: 60%;
}

.text_des{

    font-size: 50px;
    font-weight: 600;
    color: blanchedalmond;
}

.tab_titles{
    
    display: flex;
    margin: 20px 0 40px;

}

.tab_links{

    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab_links::after{

    content: '';
    width: 0;
    height: 3px;
    background: wheat;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab_links.active_link::after{

    width: 50%;
    border-radius: 100px;

}

.tab_content ul li{

    list-style: none;
    margin: 10px 0;
}

.tab_content ul li span{

    color: bisque;
    font-size: 15px ;
}

.tab_content{

    display: none;

}

.tab_content.active_tab{

    display: block;

}

/* ............................................... Projects .......................................... */

#portfolio{

    padding: 50px 0;
}

.work_list{

    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work_1{

    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work_1 img{

    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{

    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), lightblue);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: height 0.5s;

}

.layer h3{

    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{

    margin-top: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work_1:hover img{

    transform: scale(1.1);

}

.work_1:hover .layer{

    height:100%;

}

.btn{

    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color:blanchedalmond;
    transition: background 0.5s;

}

.btn:hover{

    background: lightslategray;
}

/* ..................................... Contact.............................................. */

.contact_left{

    flex-basis: 35%;

}
.contact_right{

    flex-basis: 60%;
}

.contact_left p{

    margin-top: 30px;
}

.contact_left p i{

    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}
.social_icons{

    margin-top: 30px;
}
.social_icons a{

    text-decoration:none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;

}
.social_icons a:hover{

    color: lightblue;
    transform: translateY(-5px);
}

.btn.btn2{

    display: inline-block;
    background: #262626;
    
}

.btn.btn2:hover{

    color: aquamarine;
}

.contact_right form{

    width: 100%;
    padding-top: 70px;
}

form input, form textarea{

    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

nav .fas{
    display: none;
}

.copyright{

    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 100;
    margin-top: 20px;

}

#msg{

    color: #61b752;
    display: block;
    padding-bottom: 10px;
}


/* ......................................... Making the WebSite Responsive ................................  */

@media screen and (max-width:800px){

#header{
    background-image: url(Images/phone-background.jpg);
}

.header-text{
    margin-top: 100%;
    font-size: 15px;
    background-size: cover;
    background-position: center;
}

.header-text h1{
    font-size: 30px;
}
nav .fas{
    display: block;
    font-size: 25px;
}
nav ul{

    background: #262626;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;

}
nav ul li{
    display: block;
    margin: 25px;
}

nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.text_des{
    font-size: 40px;
}
.about_col_1, .about_col_2{
    flex-basis: 100%;
}
.about_col_1{
    margin-bottom: 30px;
}
.about_col_2{
    font-size: 14px;
}
.tab_links{
    font-size: 14px;
    margin-right: 20px;
}
.contact_left, .contact_right{
    flex-basis: 100%;
}
}
